<app-cabecera></app-cabecera>
<ion-content>
  @if (cargando) {
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  }

  <h1 style="text-align: center">Iniciar Sesión</h1>


  <ion-list [inset]="true">
    <ion-item color="light">
      <ion-input [(ngModel)]="email" type="email" label="Correo: " labelPlacement="floating" [clearInput]="true" placeholder="Ingrese su correo"></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-input [(ngModel)]="password" type="password" label="Contraseña: " labelPlacement="floating" [clearInput]="true" [clearOnEdit]="false" placeholder="Ingrese su contraseña"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-text-center">
    <ion-button (click)="login()" size="default" fill="outline" shape="round" type="submit" [disabled]="!email || !password">Iniciar Sesión</ion-button>
  </div>

  <div class="ion-text-center" style="margin: 20px 0 0 0;">
      <ion-button (click)="loginWithGoogle()" size="default">Iniciar sesión con Google</ion-button>
  </div>

</ion-content>
<app-pie></app-pie>
