<app-cabecera></app-cabecera>
<ion-content>
  @if (cargando) {
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  }

  <h1 style="text-align: center;">Registrarse</h1>

  <ion-list [inset]="true">
    <ion-item color="light">
      <ion-input [(ngModel)]="userData.email" label="Correo:" labelPlacement="floating" [clearInput]="true" placeholder="Ingrese su correo" type="email"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-input [(ngModel)]="password" label="Contraseña:" labelPlacement="floating" [clearInput]="true" [clearOnEdit]="false" placeholder="Ingrese su contraseña" type="password"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-input [(ngModel)]="userData.name"  label="Nombre Completo:" labelPlacement="floating" [clearInput]="true" placeholder="Ingrese su nombre completo"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-input [(ngModel)]="userData.phone"  label="Telefono:" labelPlacement="floating" [clearInput]="true" placeholder="Ingrese su telefono"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-select [(ngModel)]="userData.rol" label="Rol:" labelPlacement="floating">
        <ion-select-option value="docente">Docente</ion-select-option>
        <ion-select-option value="alumno">Alumno</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="ion-text-center">
    <ion-button (click)="register()" fill="outline" shape="round" type="submit" [disabled]="!userData.email || !password || !userData.name || !userData.phone || !userData.rol">Registrarse</ion-button>
  </div>

</ion-content>
<app-pie></app-pie>
